<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.springboot.Dao.EmpDao">
    <select id="getAll" resultType="com.boot.springboot.Entity.Emp">
        select id,name,age,sex from EMP;
    </select>

    <insert id="save" parameterType="com.boot.springboot.Entity.Emp">
        insert into EMP(name,age,sex) value(#{name},#{age},#{sex});
    </insert>
    <select id="getById" parameterType="integer" resultType="com.boot.springboot.Entity.Emp">
        select id,name,age,sex from EMP where id = #{id};
    </select>
    <update id="update" parameterType="com.boot.springboot.Entity.Emp">
        update EMP set name = #{name},age = #{age},sex = #{sex} where id = #{id};
    </update>
    <delete id="delete" parameterType="integer">
        delete from EMP where id = #{id};
    </delete>
</mapper>

