<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AJAX</title>
    <script type="text/javascript">
        window.onload = function () {
            var aNodes = document.getElementsByTagName("a");
            for(var i = 0;i < aNodes.length;i++){
                aNodes[i].onclick = function () {
                    var request = new XMLHttpRequest();
                    var method = "GET";
                    var url = this.href;
                    request.open(method,url);
                    request.send(null);
                    request.onreadystatechange = function () {

                        if(request.readyState == 4){
                            if(request.status == 200 || request.status == 304){
                                document.getElementById("ab").innerHTML = request.responseText;
                            }
                        }
                    }
                    return false;
                }
            }
        }
    </script>
</head>
<body>
    <a href="/aHtml">a</a><br>
    <a href="/bHtml">b</a><br>
    <div id="ab">
    </div>
</body>
</html>